@import url('global.css');
@import url('responsive.css');

html { background-color: var(--background); }

nav > .container-fluid { padding: 0 25px 0 25px; }

.navbar { background-color: transparent; }

.brand-color { 
  font-family: 'Manrope', sans-serif;
  color: var(--darkGreen) !important; 
}

.navbar-toggler { border:none !important; }

.nav-link { color: var(--darkGreen) !important; }

.nav-link:hover { color: var(--green) !important; }

.btnRecicle {
  display: inline !important;
  padding: 12px 35px !important;
  color: var(--white) !important;
  background-color: var(--green) !important;
  border: 2px solid var(--green) !important;
  border-radius: 50px; 
}

.nav-recicle { margin: 10px 0 10px 0; }

.btnRecicle:hover { background-color: var(--transparent) !important; }

.cta-desc { color: var(--darkGreen) !important; }

.cta-left > .btnRecicle {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  padding: 15px 40px;
}

.cta-left > .btnRecicle {
  box-shadow:
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  100px 100px 80px rgba(0, 0, 0, 0.07) ;
}

.cta-desc > h1 { font-family: 'Manrope', sans-serif; }